<div fxLayout="column" fxLayoutAlign="start stretch">
    <div class="alive-section">
        <h1>Alive</h1>
        <div fxLayout="row wrap">
            <app-card *ngFor="let card of cardPool" [character]="card" (click)="playCard(card)"></app-card>
        </div>
    </div>
    <div class="dead-section">
        <h1>Dead</h1>
        <div fxLayout="row wrap">
            <app-card *ngFor="let card of spentCards" [character]="card" (click)="unPlayCard(card)"></app-card>
        </div>
    </div>
    <!-- <div class="reset-section">
        <div (click)="toggleReset()" class="reset-button" fxLayoutAlign="center center">
            Reset
        </div>
        <div (click)="newGame()" *ngIf="resetOpen" class="reset-button" fxLayoutAlign="center center">
            Are You Sure
        </div>
    </div> -->
</div>